*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fcfcfc;
    color: #7a7e9a;
    font-size: 16px;
}
.nav{
    display: flex;
    height: 6.9rem;    
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1 !important;
    background-color: #fff; 
    box-shadow: 0px 1px 5px #a3a3a3;
}

.nb{
    display: flex;
    align-items: center;
    position: relative;
}
.ncont #wp{
    background-color:#0cc243;
    position: absolute;
    left: -40px;
    animation: wp 1s 1s infinite ease-in;
}
@keyframes wp {
    100%{transform: scale(0.8);}
}
.ncont .con{
    padding: 8px 10px;
    color: #ffffff;
    border-radius: 100%;
    font-size: 15px;
    text-align: center;
}
.nav ul li{
    display: inline-block;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px;
}
.nav ul{
    position: relative;
    left: -20px;
}
.nb a{
    text-decoration: none;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    flex-grow: 4;
}
#sect1{
    height: 100vh;
    background: url("https://kaadgalresort.com/uploads/slider/compress-1658158664") no-repeat ;
    background-size: cover;
    background-position: top;
    position: relative;
    animation: slide1 1s 2s infinite;
}
/* @keyframes slide1 {
    100%{transform: translateX(-1400px); }
} */
#slide1{
    position: relative;
}
/* #slide2{
    height: 100vh;
    background-image: url("https://kaadgalresort.com/uploads/slider/compress-1658158195");
    background-size: cover;
    background-position: top;
    animation: slide2 1s 4s;
    position: absolute;
}
@keyframes slide2 {
    100%{transform: translateX(-1400px); z-index: 1; }
} */
#sect1 .hcont{
    position: absolute;
    width: 100%;
    top: 200px;
}
#sect1 .hcont h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
    animation: hc 0.5s;
}
@keyframes hc {
    0%{transform: translatey(30px); opacity: 0;}
    100%{transform: translatey(0px);}
}
#sect1 .hcont .button{
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    animation: hcb 3s ease;
}
@keyframes hcb {
    0%{opacity: 0;}
    50%{transform: translatey(30px); opacity: 0;}
    100%{transform: translatey(0px);}
}
#sect1 .hcont a{
    display: inline;
    padding: 14px 22px;
}
#sect1-cont{
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}
#sect1 #avail{
    height: 11.3rem;
    width: 73rem;
    background-color: #ffffff;
    position: absolute;
    top: 570px;
    margin: 0px 100px;
    padding: 30px 20px;
    display: flex;
    font-family: 'Mulish', sans-serif;
    box-shadow: 0px 0px 10px rgba(220, 220, 220, 0.815);
}
#sect1 #avail .av{
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(219, 219, 219, 0.815);
    position: relative;
}
#sect1 #avail .av .fa-calendar-days{
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 25px;
}
#sect1 #avail .av .fa-chevron-down{
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 15px;
}
#sect1 #avail .av span{
    font-size: 14px;
    font-weight: 600;
    text-transform:uppercase;
}
#sect1 #avail .av input{
    height: 50px;
    border: none;
    margin: 8px 0px;
    font-size: 25px;
    font-weight: 700;
    color: #7a7e9a;
    font-family: 'Mulish', sans-serif;
}
#sect1 #avail .av input:focus{
    outline: none;
}
#sect1 #avail .avdate input,#sect1 #avail .dpdate input{
    width: 200px;
}
#sect1 #avail .avdate,#sect1 #avail .dpdate,#sect1 #avail .adults,#sect1 #avail .children,#sect1 #avail .check{
    margin: 0px 10px;
}
#sect1 #avail .adults,#sect1 #avail .children{
    flex-basis: 10%;
}
#sect1 #avail .adults input,#sect1 #avail .children input{
    width: 100px;
}
#sect1 #avail .check a{
    text-transform: capitalize;
    text-decoration: none;
    background-color: #cc8c18;
    padding: 8px 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    display: block;
    width: 11.6rem;
    flex: 1;
}
.con{
    padding: 12px 14px;
    position: fixed;
    z-index: 1;
    color: #fff;
    border-radius: 100%;
    left: 20px;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s ease;
}
.con:hover{
    transform: scalex(1.5);
}
[id="phone"]{
    background-color:#cc8c18;
    top: 300px;
}
[id="whatsapp"]{
    background-color:#0cc243;
    top: 360px;
}
#sect2{
    margin: 0px 90px;
}
.sect2-cont{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    flex-wrap: wrap;
    margin-top: 60px;
}
.cont1,.cont2{
    width: 36rem;
    word-wrap: break-word;
}
.sect2-cont .cont2{
    position: relative;
    padding: 10px;
    margin-left: 30px;
}
.cont1 img{
    width: 36rem;
}
#sect2 .head{
    width: 100%;
    margin-top: 170px;
}
.head h2,.cont2 h2{
    font-family: 'DM Serif Display', serif;
    color: #24416b;
    z-index: -1;
}
.cont2 h2{
    font-size: 1.8rem;
    margin-bottom: 25px;
}
.cont1 p,.cont2 p,.cont3 p,.cont4 p{
    font-family: 'Mulish', sans-serif;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 10px;
}
.cont2 a,.cont .join,.hcont a{
    text-transform: capitalize;
    text-decoration: none;
    background-color: #cc8c18;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    display: block;
    width: 10rem;
}
.arrow{
    display: inline-block; /*arrow in button-----------------------------------*/
    background-color: #fff;
    color: #cc8c18;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 100;
    position: relative;
    left: 15px;
    transition: animation 2s;
}
.arrow:hover{
    animation: arr 1s;
}
@keyframes arr {
    0%{transform: translateX(-20px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
#sect2 .head>h2{
    width: 600px;
    font-size: 35px;
    position: relative;
    left: 290px;
    text-align: center;
}
#sect2 .head>span{
    display: block;
    color: #cc8c18;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
}
#sect3{
    margin-top: 100px;
}
.sect3-cont{
    height: 27.6rem;
    margin: 50px 100px;
    display: flex;
}

#sect3 .head>span{
    display: block;
    color: #cc8c18;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
}
#sect3 .head>h2{
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.sect3-cont h3{
    color: #24416b;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    padding: 0px 30px;
    /* position: absolute; */
}
.sect3-cont .logo{
    color: #cc8c18;
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 25px;
}
.sect3-cont .cont1 p,.sect3-cont .cont2 p,.sect3-cont .cont3 p,.sect3-cont .cont4 p{
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 500;
}
.sect3-cont .arrow{
    display: inline-block;
    background-color: #f5e8d1;
    color: #cc8c18;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
    position: relative;
    left: 0px
}
.sect3-cont .arrow .ar{
    position: absolute;
    top: 8px;
    left: 8px;
}
.sect3-cont .cont1,.sect3-cont .cont2,.sect3-cont .cont3,.sect3-cont .cont4{
    height:auto;
    width: 100%;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(221, 220, 220, 0.815);
}
.sect3-cont .bg{
    height:100%;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.5s;
}
.sect3-cont .bg:hover{
    background-color: rgb(204, 141, 24);
    opacity: 0.8;
}
.sect3-cont .cont1:hover,.sect3-cont .cont2:hover,.sect3-cont .cont3:hover,.sect3-cont .cont4:hover{
    background-image: url("https://kaadgalresort.com/asset/front/img/facilities-card-bg.png");
    background-size: cover;
    color: #fff;
    transform: translatey(-5px);
    z-index: 1;
}
.sect4-cont{
    height: 85vh;
    background: url("https://kaadgalresort.com/uploads/slider/compress-1658158195") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.sect4-cont .bg-cont{
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
}
.sect4-cont .cont{
    position: absolute;
    top: 0px;
    color: #fff;
    height: 100%;
}
.sect4-cont .cont-in{
    padding: 0px 300px;
    text-align: center;
    margin-top: 20px;
}
.sect4-cont .cont h2{
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    font-weight: 700;
    padding: 0px 50px;
    margin-top: 30px;
}
.sect4-cont .cont p{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.sect4-cont .cont-in .ytv{
    color: #cc8c18;
    background-color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 20px 26px;
    border-radius: 50%;
    animation: yt 1s infinite linear;
}
@keyframes yt {
    100%{box-shadow: 0px 0px 0px 20px white;}
}
.sect4-cont .cont-in .join{
    display: inline-block;
    margin-top: 70px;
}
footer{
    height: 90vh;
    background-color: #4b4b4b;
    margin-top: 50px;
}
footer .container{
    padding: 0px 90px;
    color: #d9d6d6;
    font-family: 'Mulish', sans-serif;
    line-height: 1.8;
    font-weight: 600;
    font-size: 14px;
    margin-top: 130px;
}
footer .container1{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 60px;
    border-bottom: #333333 solid 1px;

}
footer .item1,footer .item2,footer .item3,footer .item4{
    width: 100%;
    height: auto;
    padding: 0px 10px;
}
.item2 ul,.item3 ul,.item4 ul{
    list-style-type: none;
}
.item2 ul li,.item3 ul li{
    margin: 10px;
    transition: transform 0.5s, animation 1s;
}
.item2 ul li:hover,.item3 ul li:hover{
    color: #cc8c18;
    transform: translateX(5px);
}
.item2 ul li i,.item3 ul li i,.item4 ul li i{
    position: relative;
    left: -10px;
    font-size: 12px;
    animation: atr 2s;
}
@keyframes atr {
    0%{transform: translateX(-5px);}
    100%{transform: translateX(5px);}
}
footer .container1 h3{
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
}

.item2 ul li .con,.item3 ul li .con,.item4 ul li .con{
    font-size: 20px;
}
.item4 ul li span{
    display: block;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}
.item4 ul li p{
    padding-left: 40px;
}
.item4 ul li #wp{
    animation: wp 1s 1s infinite ease-out;
}
@keyframes wp {
    100%{transform: scale(0.7);}
}
footer .item1 i{
    background-color: #818181;
    display: inline-block;
    height: 28px;
    width: 28px;
    font-size: 11px;
    text-align: center;
    padding: 8px 8px;
    border-radius: 50%;
    margin-top: 30px;
}
footer .foot{
    display: flex;
    padding: 0px 90px;
    width: 100%;
}
footer .foot p{
    font-family: 'Mulish', sans-serif;
    color: #d9d6d6;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}
footer .foot #design{
    text-align: right;
}
footer .foot .fa-heart{
    animation: heart 0.5s infinite ease-in;
}
@keyframes heart {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}
#up{
    height: 40px;
    width: 40px;
    padding: 10px 12px;
    background-color: #24416b;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px 10px;
    z-index: 1;
    font-size: 10px;
}
#up a:visited{
    color: #fff;
}
section{
    background: url("https://kaadgalresort.com/asset/front/img/city/city-bg.jpg") no-repeat center;
    background-size: cover;
    height: 90vh;
    margin: 50px 0px;
    padding-top: 100px;
}
section #cont{
    background-color: #fcfcfc;
    margin: auto;
    width: 550px;
    padding: 30px;
}
section #cont span{
    display: block;
    color: #cc8c18;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 8px;
}
section #cont h3{
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    color: #24416b;
}
section #cont p{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}